<p id="notice"><%= notice %></p>

<h1>Pubs</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pubs.each do |pub| %>
      <tr>
        <td><%= pub.address %></td>
        <td><%= pub.name %></td>
        <td><%= link_to 'Show', pub %></td>
        <td><%= link_to 'Edit', edit_pub_path(pub) %></td>
        <td><%= link_to 'Destroy', pub, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pub', new_pub_path %>
